{% extends 'main_gym/admin_base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'main_gym/form.css' %}" />
<link rel="stylesheet" href="{% static 'main_gym/payment.css' %}" />
<div class="form-container">
  <div class="payment-container flex hidden" id="payment">
    <div id="pay" class="flex">
      <h3 id="py">Pay Fees</h3>
      <img src="{% static 'main_gym/upi.jpg' %}" alt="" />
      <div>
        <p class="text-center" style="color: var(--p)">sameed1718@okicici</p>
      </div>
      <div class="payment-btn flex">
        <div>
          <button class="done" onclick="RemovePayment()">
            <i class="fa-solid fa-check" style="color: #ffffff"></i>
          </button>
        </div>
        <div>
          <button class="cancel" onclick="RemovePayment()">
            <i class="fa-solid fa-x" style="color: #ffffff"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <form action="" method="post">
      {% csrf_token %}
      <h2><i class="fa-sharp fa-solid fa-shield-halved"></i>Registeration</h2>
      <h2>{{ error }}</h2>

      <div class="form-input">
        <label for=""><i class="fa-solid fa-user"></i>Name</label><br />
        <input type="text" name="name" class="form-control" />
      </div>

      <div class="form-input">
        <label for=""><i class="fa-solid fa-phone"></i>Contact</label><br />
        <input type="tel" name="contact" class="form-control" />
      </div>

      <div class="form-input">
        <label for=""><i class="fa-solid fa-envelope"></i>Email Id</label><br />
        <input type="email" name="emailid" class="form-control" />
      </div>

      <div class="form-input">
        <label for=""><i class="fa-solid fa-arrow-up"></i>Age</label><br />
        <input type="text" name="age" class="form-control" />
      </div>

      <div class="form-input">
        <label for=""><i class="fa-solid fa-venus-mars"></i>Gender</label><br />
        <input type="radio" name="gender" value="male" checked/>&nbsp Male
        <input type="radio" name="gender" value="female" />&nbsp Female
      </div>

      <div class="form-input">
        <label for=""
          ><i class="fa-sharp fa-solid fa-dollar-sign"></i>Plan Name</label
        ><br />
        <select name="plan" class="form-control" id="">
          {% for i in plan %}
          <option value="{{i.name}}">{{i.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-input">
        <label for=""
          ><i class="fa-sharp fa-solid fa-calendar-days"></i>Join Date</label
        ><br />
        <input type="date" name="joindate" class="form-control" />
      </div>

      <div class="form-input">
        <label for=""
          ><i class="fa-sharp fa-solid fa-calendar-days"></i>Expiry Date</label
        ><br />
        <input type="date" name="expdate" class="form-control" />
      </div>

      <div class="form-input">
        <label for=""
          ><i class="fa-solid fa-sack-dollar"></i>Initial Amount</label
        ><br />
        <input type="text" name="initialamount" class="form-control" />
      </div>
      <div class="form-input">
        <input type="submit" value="Submit" class="btn" id="sub" />
      </div>
    </form>
  </div>
</div>

<script>
  const btn = document.getElementById("pymnt");
  const done = document.getElementById("done");
  const payment = document.getElementById("payment");
  btn.addEventListener("click", () => {
    payment.classList.add("show");
  });
  function RemovePayment() {
    payment.classList.remove("show");
  }
</script>

{% endblock%}
