{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'main_gym/master.css' %}" />
    <script defer src="{% static 'main_gym/script.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/50350e8f17.js"
      crossorigin="anonymous"
    ></script>

    <title>GYM | WEBSITE</title>
  </head>
  <body>
    <nav id="navbar">
      <h1 id="logo">
        <i
          class="fa-solid fa-dumbbell fa-2x"
          style="margin-right: 1rem; color: #d7fb00"
        ></i
        >HUSTLE<span class="sp-heading"> UP!</span>
      </h1>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>
          <a href="#">Membership ▼</a>
          <ul class="dropdown">
            <li><a href="{% url 'add_member' %}">Register</a></li>
            <li><a href="{% url 'view_member' %}">Members</a></li>
            <li><a id="pymnt">Payment</a></li>
          </ul>
        </li>
        <li>
          <a href="">Plan ▼</a>
          <ul class="dropdown">
            <li><a href="{% url 'add_plan' %}">Add</a></li>
            <li><a href="{% url 'view_plan' %}">View</a></li>
          </ul>
        </li>
        <li>
          <a href="">Enquiry ▼</a>
          <ul class="dropdown">
            <li><a href="{% url 'add_enquiry' %}">Add</a></li>
            <li><a href="{% url 'view_enquiry' %}">View</a></li>
          </ul>
        </li>
        <li>
          <a href="">Attendance ▼</a>
          <ul class="dropdown">
            <li><a href="{% url 'mark_attendance' %}">Take Attendance</a></li>
            <li><a href="{% url 'view_attendance' %}">View Attendance</a></li>
          </ul>
        </li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'send_emails' %}">Contact</a></li>
        <form action="{% url 'logoutuser' %}" method="POST">
          {% csrf_token %}
          <button class="log" type="submit">
            <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
          </button>
        </form>
      </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer id="main-footer">
      <div class="footer-content">
        <p>Copyright &copy; 2023. All Rights Reserved</p>
        <div class="social">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
