{% extends 'main_gym/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main_gym/gallery.css' %}">
<div class="photo-grid">
    <div class="pic pic-tall" style="background-image: url('https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');"></div>

    <div class="pic pic-wide" style="background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');  "></div>


    <div class="pic pic-wide" style="background-image: url('https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8R3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"></div>

    <div class="pic pic-tall" style="background-image: url('https://images.unsplash.com/photo-1590487988256-9ed24133863e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=428&q=80');"></div>

    <div class="pic pic-wide" style="background-image: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');"></div>

    <div class="pic pic-tall" style="background-image: url('https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80');"></div>

    <div class="pic pic-tall" style="background-image: url('https://images.unsplash.com/photo-1521805103424-d8f8430e8933?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');"></div>

    <div class="pic pic-wide" style="background-image: url('https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');"></div>
    
    <div class="pic pic-wide" style="background-image: url('https://images.unsplash.com/photo-1597076537061-a6b58163aa45?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');"></div>
    

    <div class="pic pic-wide" style="background-image: url('https://images.unsplash.com/photo-1583230589117-4f241e3b9fc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjQ2fHxHeW18ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"></div>
    
</div>
{% endblock %}