@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom right, #666666, #999999);

}
h2 {
  text-align: center;
  margin: 1.3rem;
  color: var(--primarycolor);
  font-size: 2rem;
  height: 5rem;
}
.table-container {
  display: grid;
  height: 100vh;
  align-content: start;
}
.table-wrapper{
  margin: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255);
    box-shadow: 5px 5px 6px #080809;
    border-radius: 10px;
}

table {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: #000;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}
th{
  background-color: rgba(0, 0, 0, 0.3);
}

th,
td {
  padding: 0.5rem;
  font-size: 1rem;
  color: #ffffff;

}
tr:nth-child(odd){
  background-color: rgba(255, 255, 255, 0.1);
}

.del {
  background-color: #a90000;
  color: #ffffff;
  border: none;
  height: 5px;
  padding: 2px 5px;
  transition: all 1s;
  text-decoration: none;
}
.del:hover {
  box-shadow: inset 43px 0 0 0 #009a05, inset -43px 0 0 0 #009a05;
}



.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(215, 251, 0, 0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: -55;
  }
  
  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
  
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
  